body, html{
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Overpass', sans-serif;

}

.nav{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #FF5733;
    display: flex;
    justify-content: space-around ;
}

.nav a{
    text-align: center;
    transition-duration: 0.1s;
    display: block;
    padding: 20px 32px;
    color: white;
    text-decoration: none;
}
.nav a:hover{
    background-color: #F9BFB3;
}


.reddit{
  display: flex;
  flex-direction: row;
}

.duolingo{
  display: flex;
  flex-direction: row;
}

.medium{
  display: flex;
  flex-direction: row;
}
.pocket{
  display: flex;
  flex-direction: row;
}

p{
  font-size: 150%;
  padding: 0%;
  margin: 2%;
}

img{
  width: 40%;
  height: 40%;
  padding: 2%;
}

h1{
  font-size: 300%;
text-align: center;}

h2{
  background-color:#dfe309 ;
  color:white;
  width: 20%;
  display: flex;
  justify-content: center;

}

.intro{
  display: flex;
  justify-content: center;
}

.text{
background-color: red;
padding: 2%;
margin:2%;
color:white;
text-align: center;
box-shadow: 10px 5px 5px black;
}
