body, html{
    padding: 0;
    margin: 0;
        font-family: 'Merriweather', serif;
        text-decoration: none;
        }

.haut{
display: flex;
justify-content: center;
flex-direction: row;
width: 20%;
}

    .nav{
        padding: 0;
        margin: 0;
        list-style: none;
        background-color:#6BCFCA ;
        display: flex;
        justify-content: space-around ;
    }

    .nav a{
        text-align: center;
        transition-duration: 0.1s;
        display: block;
        padding: 20px 32px;
        color: white;
        text-decoration: none;
    }

    .nav a:hover{
        background-color:#B3F4F1;
    }


.fond{
  display: flex;
  justify-content: center;
}


h2{
  width: 30%;
  margin: 1%;
  padding: 1%;
  color: white;
  background: linear-gradient(#B3D8F4, #86DBDE);
}


.presentation{
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 120%;
  flex-grow: 1,0;
}

.utilisation{
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 120%;


}

.down{
  display: flex;
  flex-direction: row;
  justify-content:center;
  text-decoration: none;
  width: 50%;
  margin:1%;
  padding:4%;
  background-color: #7BD8B6;
  text-align: center;
  color:white;
  font-size: 200%;
}

.phone{
  width: 50%;
}
